{% extends "layout.twig" %}
{% block main %}
<!-- FAQ content start -->
<main>
    <!-- Features section start -->
    <div class="accordion section">
        <div class="container">
            <div class="accordion_component" id="accordionComponent">
                <!-- item 1 -->
                <div class="accordion_component-item">
                    <h4 class="accordion_component-item_header d-flex justify-content-between align-items-center collapsed"
                        data-bs-toggle="collapse" data-bs-target="#item-1">
                        Zararlı bir madde içeriyor mu?
                        <span class="wrapper">
                            <i class="icon-caret_down icon"></i>
                        </span>
                    </h4>
                    <div id="item-1" class="accordion-collapse collapse" data-bs-parent="#accordionComponent">
                        <div class="accordion_component-item_body">
                            Ürünlerimiz bir çok kez denenmiş ve bakanlıklar tarafından onaylanmış ürünlerdir. Vücuda
                            zarar veren maddeler içermez. %100 doğal ve besin takviyesi içeren
                            kapsüllerden oluşur.
                        </div>
                    </div>
                </div>
                <!-- item 2 -->
                <div class="accordion_component-item">
                    <h4 class="accordion_component-item_header d-flex justify-content-between align-items-center"
                        data-bs-toggle="collapse" data-bs-target="#item-2">
                        Her yaştan insan kullanabilir mi?
                        <span class="wrapper">
                            <i class="icon-caret_down icon transform"></i>
                        </span>
                    </h4>
                    <div id="item-2" class="accordion-collapse collapse show" data-bs-parent="#accordionComponent">
                        <div class="accordion_component-item_body">
                            11 yaşını geçmiş herkes belirlenen dozda kullanabilir. Hastalık tedavisinde kullanılmaz,
                            kronik rahatsızlık veya alerjik durumlar için lütfen doktorunuza danışın.
                        </div>
                    </div>
                </div>
                <!-- item 3 -->
                <div class="accordion_component-item">
                    <h4 class="accordion_component-item_header d-flex justify-content-between align-items-center collapsed"
                        data-bs-toggle="collapse" data-bs-target="#item-3">
                        Libido arttırıcı özelliği mevcut mu?
                        <span class="wrapper">
                            <i class="icon-caret_down icon"></i>
                        </span>
                    </h4>
                    <div id="item-3" class="accordion-collapse collapse" data-bs-parent="#accordionComponent">
                        <div class="accordion_component-item_body">
                            Yan etki olarak, libido arttırıcı doğal bitki özü (MACA bitkisi) içermektedir.
                        </div>
                    </div>
                </div>
                <!-- item 4 -->
                <div class="accordion_component-item">
                    <h4 class="accordion_component-item_header d-flex justify-content-between align-items-center collapsed"
                        data-bs-toggle="collapse" data-bs-target="#item-4">
                        İade koşulları nelerdir?
                        <span class="wrapper">
                            <i class="icon-caret_down icon"></i>
                        </span>
                    </h4>
                    <div id="item-4" class="accordion-collapse collapse" data-bs-parent="#accordionComponent">
                        <div class="accordion_component-item_body">
                            İlk kullanım jelatini açılmadığı sürece ürünlerinizi iade alıyoruz. İade politikamızı
                            incelemek için: <a href=""></a> sayfasını ziyaret edebilrisiniz.
                        </div>
                    </div>
                </div>
                <!-- item 5 -->
                <div class="accordion_component-item">
                    <h4 class="accordion_component-item_header d-flex justify-content-between align-items-center collapsed"
                        data-bs-toggle="collapse" data-bs-target="#item-5">
                        Grip veya benzeri hastalıklarda kullanılır mı?
                        <span class="wrapper">
                            <i class="icon-caret_down icon"></i>
                        </span>
                    </h4>
                    <div id="item-5" class="accordion-collapse collapse" data-bs-parent="#accordionComponent">
                        <div class="accordion_component-item_body">
                            Hastalık tedavisinde kullanılmaz,
                            kronik rahatsızlık veya alerjik durumlar için lütfen doktorunuza danışın.
                        </div>
                    </div>
                </div>
                <!-- item 6 -->
                <div class="accordion_component-item">
                    <h4 class="accordion_component-item_header d-flex justify-content-between align-items-center collapsed"
                        data-bs-toggle="collapse" data-bs-target="#item-6">
                        Aşırı doz kullanımında neler olur?
                        <i class="icon-caret_down icon"></i>
                    </h4>
                    <div id="item-6" class="accordion-collapse collapse" data-bs-parent="#accordionComponent">
                        <div class="accordion_component-item_body">
                            Belirlenenden fazla kullanmak vücuda zararlı olabilir. Tavsiye edilen miktarda
                            kullanmanızı öneririz.
                            Aşırı doz kullanıma maruz kalınmış ise lütfen en yakın hastaneye başvurunuz.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- FAQ content start -->
{% endblock main %}