{% extends "layout.twig" %}
{% block main %}
<!-- Single product content start -->
<main>
    <section class="about section--nopb">
        <div class="container">
            <!-- Product main -->
            <div class="about_main d-lg-flex flex-nowrap">
                <div class="about_main-slider">
                    <div class="about_main-slider--single" data-modal="false">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="assets/img/product-1.jpg" data-role="gallery">
                                    <picture>
                                        <source data-srcset="assets/img/product-1.jpg" srcset="assets/img/product-1.jpg"
                                            type="image/webp" />
                                        <img class="lazy" data-src="assets/img/product-1.jpg" src="assets/img/product-1.jpg"
                                            alt="media" />
                                    </picture>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="assets/img/product-2.jpg" data-role="gallery">
                                    <picture>
                                        <source data-srcset="assets/img/product-2.jpg" srcset="assets/img/product-2.jpg"
                                            type="image/webp" />
                                        <img class="lazy" data-src="assets/img/product-2.jpg" src="assets/img/product-2.jpg"
                                            alt="media" />
                                    </picture>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="assets/img/product-3.jpg" data-role="gallery">
                                    <picture>
                                        <source data-srcset="assets/img/product-3.jpg" srcset="assets/img/product-3.jpg"
                                            type="image/webp" />
                                        <img class="lazy" data-src="assets/img/product-3.jpg" src="assets/img/product-3.jpg"
                                            alt="media" />
                                    </picture>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-controls d-flex align-items-center justify-content-between">
                            <a class="swiper-button-prev d-inline-flex align-items-center justify-content-center"
                                href="#">
                                <i class="icon-caret_left icon"></i>
                            </a>
                            <a class="swiper-button-next d-inline-flex align-items-center justify-content-center"
                                href="#">
                                <i class="icon-caret_right icon"></i>
                            </a>
                        </div>
                    </div>
                    <div class="about_main-slider--thumbs">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <picture>
                                    <source data-srcset="assets/img/product-1.jpg" srcset="assets/img/product-1.jpg"
                                        type="image/webp" />
                                    <img class="lazy" data-src="assets/img/product-1.jpg" src="assets/img/product-1.jpg"
                                        alt="media" />
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source data-srcset="assets/img/product-2.jpg" srcset="assets/img/product-2.jpg"
                                        type="image/webp" />
                                    <img class="lazy" data-src="assets/img/product-2.jpg" src="assets/img/product-2.jpg"
                                        alt="media" />
                                </picture>
                            </div>
                            <div class="swiper-slide">
                                <picture>
                                    <source data-srcset="assets/img/product-3.jpg" srcset="assets/img/product-3.jpg"
                                        type="image/webp" />
                                    <img class="lazy" data-src="assets/img/product-3.jpg" src="assets/img/product-3.jpg"
                                        alt="media" />
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about_main-info">
                    <div class="about_main-info_product d-sm-flex align-items-center justify-content-between">
                        <h2 class="title">Liberox</h2>
                    </div>
                    <div style="margin: 35px 0 ;" class="about_main-info_buy d-flex align-items-center">
                        <a class="btn" target="_blank"
                            href="https://www.novamedist.com/product/liberox-demir-dikeni-ekstresi-lepidyum-maca-ekstresi-60-tablet/">Satın
                            Al</a>
                    </div>
                    <p class="about_main-info_description">
                        <b>İçindekiler:</b> Mikrokristalin Selüloz (E 460(i)), Demir Dikeni Ekstresi
                        (Tribulus terrestris), Sitrik Asidin Magnezyum Tuzları (Magnezyum
                        Kaynağı), Epimedium Sp. Ekstresi, Lepidyum Ekstresi (Maca), Polivinil
                        Pirolidon (E 1201), Kore Ginsengi Ekstresi, Tiamin Hidroklorür (Vitamin
                        B1), Çinko Sülfat (Çinko), Yağ Asitlerinin Magnezyum Tuzları (E 470b),
                        Silikon Dioksit (E 551), Piridoksin Hidroklorür (Vitamin B6),
                        Kolekalsiferol (Vitamin D3), Sodyum Selenit (Selenyum),
                        Metilkobalamin (Vitamin B12) <br>
                        * Beslenme Referans Değeri Yoktur. <br> <br>
                        Tavsiye Edilen Günlük Alım Dozu: 11 Yaş ve üzeri yetişkinler için;
                        Sabah - Akşam 1'er tablet (Günde 2 tablet) tüketilmesi tavsiye
                        edilmektedir.
                    </p>
                    <ul class="about_main-info_list">
                        <li class="list-item">
                            <span class="property">Demir Dikeni Ekstresi</span>
                            <span class="value">750 mg</span>
                        </li>
                        <li class="list-item">
                            <span class="property">Epimedium Sp. Ekstresi</span>
                            <span class="value">250 mg</span>
                        </li>
                        <li class="list-item">
                            <span class="property">Lepidyum Ekstresi</span>
                            <span class="value">200 mg</span>
                        </li>
                        <li class="list-item">
                            <span class="property">Çinko</span>
                            <span class="value">15 mg - 150%</span>
                        </li>
                        <li class="list-item">
                            <span class="property">Kore Ginsengi Ekstresi</span>
                            <span class="value">60 mg</span>
                        </li>
                        <li class="list-item">
                            <span class="property">Vltamin B1</span>
                            <span class="value">50 mg - 4545%</span>
                        </li>
                        <li class="list-item">
                            <span class="property">Vltamin B6</span>
                            <span class="value">5 mg - 357%</span>
                        </li>
                        <li class="list-item">
                            <span class="property">Vltamin D3</span>
                            <span class="value">10 mcg - 200%</span>
                        </li>
                        <li class="list-item">
                            <span class="property">Selenyum</span>
                            <span class="value">50 mcg - 90,9%</span>
                        </li>
                        <li class="list-item">
                            <span class="property">Vitamin B12</span>
                            <span class="value">50 mcg - 2000%</span>
                        </li>
                    </ul> <br> <br>
                    <div class="d-flex align-items-center">
                        <p class="about_main-info_description">
                            <b>Uyarılar:</b> Tavsiye edilen günlük porsiyonu aşmayınız.Takviye edici
                            gıdalar normal beslenmenin yerine geçemez. Çocukların
                            ulaşamayacağı yerde saklayınız. İlaç değildir. Hastalıkların
                            önlenmesi veya tedavi edilmesi amacıyla kullanılmaz. Hamilelik ve
                            emzirme dönemi ile hastalık veya ilaç kullanılması durumlarında
                            doktorunuza danışınız. Tavsiye edilen tüketim tarihi (T.E.T.T) ve parti
                            numarası (P.N) kutunun üzerindedir.
                        </p>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="about_main-info_description">
                            <b>Saklama Koşulları:</b> 25 C'nin altında kuru ve serin yerde muhafaza
                            edilmelidir. lsı, ışık ve nemden koruyunuz. Ambalajı açılmış ürünleri
                            satın almayınız.
                        </p>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="about_main-info_description">
                            <b>Ürün Sahibi:</b> <br>
                            IRLA PHARMA GIDA VE iLAÇ TiCARET/FATiH UYSAL <br>
                            Altıntepe Mah. Damla Sok. Geniş Apt B Blok No:3/1/6 <br>
                            Maltepe / İstanbul <br> <br>
                            <b>Üretici Firma:</b> <br>
                            TENA İLAÇ KİMYA SAN. VE TİC. LTD. ŞTİ. <br>
                            <b>İşletme Kayn Tarihi:</b> 05.07.2013 <br>
                            <b>işletme Kayıt No:</b> TR-3 4-K-050825 <br>
                            <b>Takviye Edici Gıda Onay No/Tarih:</b> 014557-12.09.2022 <br>
                            <b>Menşe Ülke:</b> Türkiye (Gıdanın ana bileşeninin menşe ülkesi, gıdanın
                            menşe ülkesinden farklıdır.)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Single product content end -->
{% endblock main %}