<!DOCTYPE html>
<html lang="tr">

<head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NR72LMCP');</script>
  <!-- End Google Tag Manager -->

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11154196438"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-11154196438');
  </script>

  <meta charset="utf-8" />
  <title>Mare Meze - Meze Türleri</title>
  <meta name="description" content="Lezzetli mezelerimizle damak tadınıza hitap ediyoruz. 
  Türk mutfağının en özel mezelerini hazırlıyoruz. Maltepe'nin gözde lezzet duraklarından 
  biri olarak sizleri ağırlamaktan mutluluk duyuyoruz.">
  <meta name="revisit-after" content="1 day">
  <meta name="keywords"
    content="mezeci, mezeler, meze, Türk yemekleri, Türk mutfağı, havuç tarator, zeytinyağlı sarma, haydari, kuru biber dolması, kuru patlıcan dolması, humus, şakşuka, amerikan salatası, fava">

  <!-- Stylesheets -->
  <link href="assets/css/bootstrap.css" rel="stylesheet" />
  <link href="assets/css/style.css" rel="stylesheet" />
  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon" />
  <link rel="icon" href="assets/images/favicon.png" type="image/x-icon" />
  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link href="assets/css/responsive.css" rel="stylesheet" />
  <!--[if lt IE 9
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
    ><![endif]-->
  {% block style %}{% endblock style %}
</head>

<body>
  <div class="page-wrapper">
    {% block main %} {% endblock main %}
  </div>
  <!--End pagewrapper-->

  <!--Scroll to top-->
  <div class="scroll-to-top scroll-to-target" data-target="html">
    <span class="icon fa fa-angle-up"></span>
  </div>
  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery-ui.js"></script>
  <script src="assets/js/jquery.fancybox.js"></script>
  <script src="assets/js/swiper.js"></script>
  <script src="assets/js/owl.js"></script>
  <script src="assets/js/appear.js"></script>
  <script src="assets/js/wow.js"></script>
  <script src="assets/js/parallax.min.js"></script>
  {% block javascript %} {% endblock javascript %}
  <script src="assets/js/custom-script.js"></script>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NR72LMCP" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
</body>

</html>