<!DOCTYPE html>
<html lang="TR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  {% include "parts/modules/yandex-metrika.twig" %}
  {% include "parts/modules/google-tag-manager.twig" %}
  <title>IRLA | {{title}}</title>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.png">
  <link rel="stylesheet preload" as="style" href="assets/css/preload.min.css" />
  <link rel="stylesheet preload" as="style" href="assets/css/icomoon.min.css" />
  <link rel="stylesheet preload" as="style" href="assets/css/libs.min.css" />
  <link rel="stylesheet" href="assets/css/{{titleSub}}.min.css" />
</head>
{% include "parts/modules/google-analytics.twig" %}

<body>
  {% include "parts/modules/google-tag-manager-noscript.twig" %}
  {% include "parts/header.twig" %}
  {% block main %} {% endblock main %}
  {% include "parts/footer.twig" %}
  <script src="assets/js/common.min.js"></script>
  <script src="assets/js/{{titleSub}}.min.js"></script>
</body>